<html>
    
<body>
    
<h3 align='center'>Bem-vindo ao Sistema de Solicitação de Banca Examinadora - 2SBE <h3>
    
    
        <ul>
        <li><%=link_to "Sair", destroy_membro_session_path, method: :delete %></li>
        </ul>
    
    
        <li><%=link_to "Login", membro_session_path %></li>
        <li><%=link_to "Cadastrar", new_membro_registration_path %></li>
   
       
 
    
</body>




</html>

