<html>
<head>
<meta charset="utf-8">
<title>2SBE</title>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    
<div class="container">
	<section id="content">
		<form action="">
			<h1>Sistema de Solicitação de Banca Examinadora</h1>
			<div>
				<input type="text" placeholder="E-Mail" required="" id="username" />
			</div>
			<div>
				<input type="password" placeholder="Senha" required="" id="password" />
			</div>
			<div>
				<input type="submit" value="Entrar" />
				<a href="#">Esqueceu a senha?</a>
				<a href="#">Cadastre-se</a>
			</div>
		</form>
	</section>

</div>
</body>
</html>



