<h1>2SBE - Sistema de Solicitação de Banca Examinadora</h1>
<br/>
<br/>

<%= link_to "Nova solicitação - doutorado", new_doutorando_path %>
<h4>Nova solicitação - mestrado</h4>
<h4>Editar solicitação</h4>

<%#= "Nova solicitação - doutorado" %>
<%#= "Nova solicitação - mestrado" %>
<%#= "Editar solicitação" -%>